<table class="exif" cellspacing="0" cellpadding="0" border="0"><tbody>
<% for(var i=0; i<exif.length; i++) {%>
    <tr><td class="exifname"><%= exif[i].label %></td><td class="exifvalue"><%= exif[i].raw %></td></tr>
<% } %>
</tbody></table>
