<head>
    <title>flickr-node</title>
    <link rel="stylesheet" media="screen" href="/stylesheets/main.css">
    <script src="/javascripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <!-- lightview -->
    <script src="/javascripts/swfobject.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/excanvas/excanvas.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/spinners/spinners.min.js"></script>
    <script type="text/javascript" src="/javascripts/lightview/lightview.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/lightview/lightview.css" />
    <!-- scrolling photosets-listonly -->                
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.jscrollpane.css" />
    <script type="text/javascript" src="/javascripts/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.jscrollpane.min.js"></script>
</head>