<!DOCTYPE html>
<html>
    <% include head.ejs %>
    <body id="body">
    <div id="msg"></div>
    <div id="wrapper">  
        <div id="main">
            
            <div id="content">      
                <div class="fixedwidth">
                    <div class="left">
                        <div id="header">
                          <div class="left" style="padding-top: 10px;">
                              <a href="/" class="logoref"><img src="/images/logo.png"></a>
                          </div>
                        </div>

                        <h2>Setup</h2><br/>
                        <div>
                            <form method="POST" id="setup">

                                <%if(locals.error){%><div class="validation-error"><%=error%></div><%}%>
                                <span>Api Key <a href="http://www.flickr.com/services/api/keys/">[get one]</a></span><br/>
                                <input type="text" name="consumer_key" style="width:220px;" value="<%if(locals.config.consumer_key){%><%=config.consumer_key%><%}%>"/><br/>

                                <span>Secret</span><br/>
                                <input type="text" name="consumer_secret" value="<%if(locals.config.consumer_secret){%><%=config.consumer_secret%><%}%>"/><br/>

                                <span>User id</span><br/>
                                <input id="user_id" type="text" name="user_id" value="<%if(locals.config.user_id){%><%=config.user_id%><%}%>"/><br/><br/>

                                <span>Gallery mode (what will be visible on Your gallery)</span><br/>

                                <!-- 
                                 * 1 public photos
                                 * 2 private photos visible to friends
                                 * 3 private photos visible to family
                                 * 4 private photos visible to friends & family
                                 * 5 completely private photos                                
                                -->
                                <input type="checkbox" name="mode" value="1" <%if(locals.modes.m1){%>checked<%}%>/>&nbsp;public photos<br/>
                                <input class="auth" type="checkbox" name="mode" value="2" <%if(locals.modes.m2){%>checked<%}%>/>&nbsp;private photos visible to friends<br/>
                                <input class="auth" type="checkbox" name="mode" value="3" <%if(locals.modes.m3){%>checked<%}%>/>&nbsp;private photos visible to family<br/>
                                <input class="auth" type="checkbox" name="mode" value="4" <%if(locals.modes.m4){%>checked<%}%>/>&nbsp;private photos visible to friends & family<br/>
                                <input class="auth" type="checkbox" name="mode" value="5" <%if(locals.modes.m5){%>checked<%}%>/>&nbsp;completely private photos<br/>

                                <%/*<span>Flickr NSID</span></br>
                                <input type="text" name="user_id"/><br/>*/%>
                                <input class="hiddensubmit" type="submit" value="OK">
                                <p>
                                    <h3><a href="#" onclick="$('#setup').submit();">Save</a></h3>
                                </p>
                                
                            </form>
                            <br/>
                        </div>

                        <div id="footer-right">
                            Inspired by <a href="http://minishowcase.net">minishowcase</a>. Powered by <a href="http://nodejs.org/"><img style="vertical-align: top;" src="/images/node.png"></a>&nbsp;|&nbsp;<a href="http://marioosh.net">marioosh.net</a>
                            <br>Images presented on this site may not be used without permission
                            <div class="left"></div>
                            <div class="right"></div>
                            <div class="clear"></div>
                        </div>

                        <div id="debug" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

